.root {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

body{
    background-color: #2C2F33;
}

.title{
    margin:1em;
    color:white;
    font-size: 40px;
}

.input{
    margin-top: 10em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 5em;
    border: solid #7289DA 5px;
    background-color:#FFFFFF ;
    color: #23272A;
    font-size: large;
    padding: 1em;
    display: flex;
}
.idInput{
    height:100%;
    width:100%;
    
}
input:focus{
    outline:none;
}
input{
    border:0;
    outline-width: 0;
}

.date{
    background-color: #23272A;
    margin-left: 15em;
    margin-right: 15em;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 40px;
    color:white;
}